<!DOCTYPE HTML>
<html>
<head>
     <title>The Coming soon Website Template | Home :: w3layouts</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div class="content">
			<div class="wrap">
				<div class="content-grid">
                  <!-- <p><img src="images/top.png" title=""></p> -->
				</div>
				<div class="grid">
                  <!-- <p><img src="images/coming.png" title=""></p> -->
                  <p><h3>Want Balloons?</h3></p>
                  <p><h3>Email balloondesignbyjess@gmail.com</h3></p>
                  <p><h3>707-410-6694 Call or Text</h3></p>
								<div class="clear"></div>
								</div>
		<div class="clear"></div>
		<div class="footer">
			<p class="a"><a href="https://www.instagram.com/balloondesignbyjess/"><img src="images/instagram.png" title="" height="50px" width="50px"></a> <a href="http://fb.me/balloondesignbyjess"><img src="images/facebook.png" title="" height="50px" width="50px"></a></p>
		<p>Copyright 2013&nbspTemplate by <a href="http://w3layouts.com"> w3layouts.com</a> </p>
		</div>
		<div class="clear"></div>
		</div>
		</div>
		<div class="clear"></div>
</body>
</html>
